.Footer {
  background-color: #13130d;
  font-size: 12px;

  align-items: center;
  padding: 2rem 6rem;
  bottom: 0;
  width: 100%;
  color: #eeede0;
  display: flex;
  justify-content: left;
}

.ContactInfo {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.FooterLogo {
  max-width: 110px;
  margin-right: 100px;
  cursor: pointer;
}

.SocialMedia {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: left;
}


.SocialMedia a {
  font-size: 16px;
  margin-right: 10px;
  color: #eeede0;
}

.SocialMedia a:hover {
  color: #e65970;
}

h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

p {
  margin: 0;
  line-height: 1.5;
}
