* {
    color: #13130D;
}

.HomePageBox, .BrowsePageBox, .AboutPageBox {
    background-color: #EEEDE0;
}

.GalleryGridBox, .GalleryPageBox {
    background-color: #13130D;
}

.FeaturedArtworksBox {
    background-color: #F7F6EC;
    border-radius: 15px;
}

h1 {
    padding: 20px 0;
}

.light-text {
    color: #EEEDE0;
}

.H1RegularText {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 5rem;
    line-height: 4.5rem;
}

.H1ItalicText {
    font-style: italic;
}

.BiggerP {
    padding: 20px 0 0 0;
}

.H3RegularText {
    font-weight: 600;
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

.RandomImgBox {
    background-image: url("https://source.unsplash.com/random/?classic-artwork-painting");
    width: 100%;
    height: 250px;
}

.italic {
    font-style: italic;
}

.CardImageBox {
    width: 100%;
}

.CardImage {
    object-fit: cover;
    width: 370px;
    height: 250px;
}