.buttonsBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 280px;
    justify-content: space-between;
}

.PrimaryButton {
    background: #e65970;
	border: none;
	border-radius: 7px;
	cursor: pointer;
	color: #EEEDE0;
	letter-spacing: .05em;
	overflow: hidden;
    font-size:0.9rem;
	padding: 0.6rem;
    display: flex;
    justify-content: center;
    width: 200px;
	position: relative;
	text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
    margin: 20px 0;
    transition: all 100ms ease-out;
    animation: entrance-opacity 0.9s 1s both;
}

.PrimaryButton:hover {
    opacity: 1;
    color: #EEEDE0;
    box-shadow: 0px 0px 10px 0px rgba(161, 161, 161, 0.5);
    transform: translate(0px, -5px);
    
}

.ScndButton {
    color: #e65970;
    text-decoration: none;
    transition: all 100ms ease-out;
    animation: entrance-opacity 0.9s 1.5s both;
}

.ScndButton:hover {
    text-decoration: underline;
    color: #e65970;
}