@import url("./userstyles.css");
@import url("./formstyles.css");
@import url("./animations.css");
@import url("./buttons.css");
@import url("../../index.css");
@import url("../../App.css");

* {
    color: #13130D;
}

.HomePageBox, .BrowsePageBox, .AboutPageBox {
    background-color: #EEEDE0;
}

.GalleryGridBox, .GalleryPageBox, .FooterComponentBox, .CollectionPageBox {
    background-color: #13130D;
}

.PageHeader {
    padding: 50px 50px 0 50px;
}

.FeaturedArtworksBox {
    background-color: #F7F6EC;
    border-radius: 15px;
}

h1 {
    padding: 20px 0;
}

.light-text {
    color: #EEEDE0;
}

.H1RegularText {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 5rem;
    line-height: 4.5rem;
}

.H1ItalicText {
    font-style: italic;
}

.BiggerP {
    padding: 20px 0 0 0;
}

.H3RegularText {
    margin-bottom: 0;
}

.RandomImgBox {
    background-image: url("https://source.unsplash.com/random/?classic-artwork-painting");
    width: 100%;
    height: 250px;
}

.italic {
    font-style: italic;
}

.CardImageBox {
    width: 100%;
}

.CardImage {
    object-fit: cover;
    width: 370px;
    height: 250px;
}

