@import url("./userstyles.css");
@import url("./formstyles.css");
@import url("./animations.css");
@import url("./buttons.css");
@import url("../../index.css");
@import url("../../App.css");

.HomePageBox, .BrowsePageBox, .AboutPageBox {
    background-color: #EEEDE0;
}

.GalleryGridBox, .GalleryPageBox, .FooterComponentBox, .CollectionPageBox {
    background-color: #13130D;
}

.CollectionPageBox {
    height: 100vh;
}

.AboutPageBox {
    padding-bottom: 10px;
}

.SingleAtwkPageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.PageHeader {
    padding: 50px 50px 0 50px;
}

.light-text {
    color: #EEEDE0;
}

.H1RegularText {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 4rem;
    line-height: 4.5rem;
}

.H1ItalicText {
    font-style: italic;
}

.BiggerP {
    margin: 0;
    padding: 20px 0 0 0;
}

.H3RegularText {
    margin-bottom: 0;
}

.italic {
    font-style: italic;
}

.AboutBox {
    background-color: #F7F6EC;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    margin: 40px 0;
    justify-content: space-between;
    row-gap: 40px;
    flex-wrap: wrap;
}

.AboutCardInfo {
    padding: 20px 20px 5px 20px;
}

