.NavBarBox {
  background-color: #13130d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 6rem;
}

.NavBarBox nav {
  display: flex;
  gap: 50px;
}

.globalNav {
  display: flex;
  list-style: none;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 20px
}

.nav-link {
  color: #eeede0 !important;
}

.nav-link:hover {
  color: #e65970 !important;
}

.MainLogo {
  max-width: 110px;
  margin-right: 100px;
  cursor: pointer;
}

.on-cercle {
  font-size: 9px;
  color: #67e1af;
}