.galleryGridBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galleryRow {
    display: flex;
    justify-self: center;
    padding: 5px;
}

.galleryCol {
    flex: 30%;
    max-width: 20%;
    padding: 0 5px;
}


.galleryImage {
    width: 100%;
    object-fit: cover;
}